#tabs-list {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.window-text {
  position: relative;
  margin: 10px;
  font-weight: 700;
}

.no-result-text {
  margin-top: 10px;
  position: absolute;
  color: #b3b3b3;
}

.tab {
  position: relative;
  border-radius: 3px;
  height: 60px;
  border: 2px solid transparent;
  color: #101010;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
  /* overflow: hidden; */
  padding: 6px 7px;
  background: #fff;
  /* margin: 1px; */
  display: flex;
  align-items: center;
}

/* .tab::after {
  content: "";
  height: 1px;
  background: #dcdcdc;
  position: absolute;
  bottom: -2px;
  left: 37px;
  right: 10px;
} */

.tab.visible {
  display: block;
}

.tab:hover {
  border-color: #b0dbfb;
  /* background: #eee; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  /* color: #2e7fb9; */
}

.tab.active {
  /*border-color: #2e7fb9;*/
  background: rgba(46, 127, 185, 0.04);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  color: #2e7fb9;
}

.tab.killed {
  /*border-color: #2e7fb9;*/
  background: rgba(46, 127, 185, 0.04);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  color: #bcbcbc;
}

.icon {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  /* background: #e0e0e0; */
  /* border: 2px solid #f3f3f3; */
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.tab.killed .icon {
  filter: grayscale(100%);
}

.title {
  font-size: 14px;
  margin: 2px 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url {
  font-size: 12px;
  margin: 4px 0 2px 0px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #bcbcbc;
}

.highlight {
  background: #ffd64d;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.btns {
  position: absolute;
  top: 6px;
  right: 5px;
  display: none;
}

.tab:hover .btns {
  display: block;
}

.tab.active .btns {
  display: block;
}

.close-btn {
  height: 20px;
  padding: 3px;
  background-color: #000;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
}

.kill-revive-btn {
  height: 20px;
  padding: 3px;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
}

.kill-btn {
  background-color: #e05454;
}

.revive-btn {
  background-color: green;
}

#announcement-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  background: #d3eae0;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: 0.3s;
}

#announcement_header {
  height: 40px;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  display: flex;
  align-items: center;
}

#announcement-title {
  margin: 0;
  flex: 1;
  padding: 10px 10px 10px 15px;
}

#announcement-close-icon {
  width: 15px;
  background: #e05454;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
  cursor: pointer;
}

#announcement-body {
  padding: 10px;
}

#announcement-list {
  margin: 0;
  padding-left: 20px;
}

#announcement-list li {
  font-size: 13px;
  margin-bottom: 6px;
  color: #00733d;
}

#announcement-container.visible {
  transform: translateY(0);
}
