html, body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    height: 100%;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#options-header {
    position: fixed;
    top: 0;
    height: 35px;
    width: 100%;
    background: white;
    /* border-top: 1px solid #efefef; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
}

#search-div {
    flex: 1;
    height: 80%;
    box-sizing: border-box;
    display: block;
    margin: 3px 8px;
    position: relative;
    float: left;
}

#search-icon {
    width: 20px;
    top: 3px;
    left: 5px;
    position: absolute;
}

#search-input {
    outline: none;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 30px;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 300;
    color: #dadada;
}

#search-input:focus {
    border-color: #1f00ff;
    box-shadow: 0 0 2px #0010ff;
}

#options {
    float: right;
    padding: 3px;
}

.option {
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 2px;
}

.option img {
    width: 100%;
}

.option-hint {
    position: absolute;
    width: 180px;
    right: 0;
    top: 120%;
    background: #fff;
    color: #000;
    padding: 10px;
    text-align: right;
    border: 2px solid;
}

.option-hint:before {
    bottom: 100%;
    right: 4px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 20;
}

.option-hint:after {
    bottom: 100%;
    right: 2px;
    border: 10px solid transparent;
    border-bottom-color: #404040;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.option-hint-text {
    margin: 0;
    text-align: left;
}

.option-hint-button {
    margin: 10px 0 0;
    border: none;
    background: none;
    color: #175fb9;
    font-size: 12px;
    text-transform: uppercase;
}

#notification {
    position: absolute;
    width: 250px;
    min-height: 60px;
    right: 20px;
    top: 36px;
    background: #3cbd4d;
    color: #fff;
    padding: 15px 20px 15px 15px;
    text-align: left;
    z-index: 3;
    font-size: 14px;
    transition: .1s;
    opacity: 0;
    transform: translateX(100%);
    box-shadow: 0 0 2px rgba(0, 0, 0, .24);
    overflow: hidden;
    box-sizing: border-box;
}

#notification.visible {
    opacity: 1;
    transform: translateX(0);
}

#notification-text {
    margin: 0;
}

#notification-close-bttn {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 20px;
    padding: 3px;
    background-color: #e05454;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
}

#tabs-list {
    position: absolute;
    top: 35px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fafafa;
}

.window-text {
    position: relative;
    margin: 10px;
    font-weight: 700;
}

.no-result-text {
    margin-top: 10px;
    position: absolute;
    color: #b3b3b3;
}

.tab {
    position: relative;
    border-radius: 3px;
    height: 36px;
    border: 2px solid transparent;
    color: #101010;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    padding: 6px 7px;
    background: #fafafa;
}

.tab.visible {
    display: block;
}

.tab:hover {
    border-color: #b0dbfb;
    /* background: #eee; */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
    /* color: #2e7fb9; */
}

.tab.active {
    border-color: #2e7fb9;
    /* background: #eee; */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
    color: #2e7fb9;
}

.icon {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 0 0;
    /* background: #e0e0e0; */
    /* border: 2px solid #f3f3f3; */
    border-radius: 3px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 13px;
    margin: 2px 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.highlight {
    background: #ffd64d;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

.close-icon {
    position: absolute;
    top: 6px;
    right: 5px;
    height: 20px;
    padding: 3px;
    background-color: #e05454;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    display: none;
}

.tab:hover .close-icon {
    display: block;
}

.tab.active .close-icon {
    display: block;
}